# Author : Mame Thierno Diagne

# Introduction to python for machine learning

# import libraries and loading dataset

In [1]:
import numpy as np
import pandas as pd 
#loading dataset
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding="ISO-8859-1")

In [2]:
# display our data using the head() function
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [3]:
# Examine the information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

QUIZ QUESTION RESPONDING

1. Which of these Areas had the highest sum in 2017

In [4]:
df.groupby(['Area'])['Y2017'].sum().nlargest(1)

Area
Nigeria    1483268.23
Name: Y2017, dtype: float64

2. What is the total number of sum of processing in 2017

In [5]:
df.loc[(df['Element']=='Processing','Y2017')].sum()

292836.0

3. What is the total Protein supply quantity in Madagascar in 2015

In [6]:
df.loc[(df['Element']=='Protein supply quantity (g/capita/day)') &
                (df['Area']=='Madagascar' ) & (df['Y2015'])
].sum()

Area Code                                                    8901
Area            MadagascarMadagascarMadagascarMadagascarMadaga...
Item Code                                                  189330
Item            Grand TotalVegetal ProductsAnimal ProductsCere...
Element Code                                                46506
Element         Protein supply quantity (g/capita/day)Protein ...
Unit            g/capita/dayg/capita/dayg/capita/dayg/capita/d...
Y2014                                                      177.77
Y2015                                                      173.05
Y2016                                                      173.37
Y2017                                                      175.72
Y2018                                                       176.6
dtype: object

4. Which of these Areas had 7th lowest sum 2017

In [7]:
df.groupby(['Area']).sum()['Y2017'].nsmallest(10)

C:\Users\NLP\AppData\Local\Temp\ipykernel_14608\782621751.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Area']).sum()['Y2017'].nsmallest(10)

Area
Ethiopia PDR                 0.00
Sudan (former)               0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Lesotho                  21267.96
Botswana                 22101.30
Djibouti                 22729.91
Name: Y2017, dtype: float64

5. Which of these python data structures is unorderly (Dictionary)

6. What is the total number of unique countries in the dataset

In [8]:
df['Area'].nunique()

49

7. How would you assign element 8 from the list to a variable x

In [9]:
y=[(2,4),(7,8),(1,5,9)]
x=y[1][-1]
x

8

7. Which of the following datafra,e methods can be use to acess element accross rows and columns

In [10]:
df.iloc[:3]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.0,40551.0,41389.0,42228.0
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.0,3379.0,3372.0,3341.0,3322.0

8. A pandas dataframe with dimensions (100,3) has how many features and observations?
3 features and 100 observations

In [11]:
# example using the dataset with shape function
df.shape

(60943, 12)

9. What year has the highest sum of stock variation

In [14]:
df[df['Element']=='Stock Variation'].sum()

Area Code                                                  571566
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                11329527
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                             21464704
Element         Stock VariationStock VariationStock VariationS...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                    58749.83
Y2015                                                    34910.99
Y2016                                                    33140.12
Y2017                                                    54316.91
Y2018                                                    20577.91
dtype: object

10. How do you create a pandas dataframe using this list, to look like the table below

In [19]:
lst = [[35,'Portugal',94],[33,'Argentina',93],[30,'Brazil',92]]
col = ['Age','Nationality','Overall']
pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

11. What is the total sum of wine produced in 2015 and 2018 respectively

In [20]:
df.loc[(df['Item']=='Wine','Y2015')].sum()

4251.8099999999995

In [21]:
df.loc[(df['Item']=='Wine','Y2018')].sum()

4039.3199999999997

12. What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places

In [22]:
df['Y2017'].mean().round(2)

140.92

In [23]:
df['Y2017'].describe().round(2)

count     59437.00
mean        140.92
std        1671.86
min       -1582.00
25%           0.00
50%           0.10
75%           9.00
max      190873.00
Name: Y2017, dtype: float64

11.What is the total number and percentage of missing data in 2014 to 3 decimal places

In [24]:
df['Y2014'].isna().sum()

1589

In [25]:
X=df['Y2014'].isna().sum()/len(df)
X.round(3)

0.026

12. Which year had the least correlation with 'Element Code'

In [26]:
df.corr()

C:\Users\NLP\AppData\Local\Temp\ipykernel_14608\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

13. How would you check for the number of rows and columns in a pandas dataframe named df

In [27]:
df.shape

(60943, 12)

13.Which of the following is a python inbuilt module(math)

14. How would you select the elements in bold and italics from the array

In [28]:
array = ([[94,89,63],[93,92,48],[92,94,56]])
array

[[94, 89, 63], [93, 92, 48], [92, 94, 56]]

In [29]:
array[1][1]

92

In [30]:
array[0][1]

89

In [31]:
array[0][2]

63

In [32]:
array[1][1]

92

In [33]:
array[1][2]

48

15. Given the following python code, what would the output of the code give

In [34]:
my_tuppy=(1,2,5,8)
my_tuppy[2]=6

TypeError: 'tuple' object does not support item assignment